a2c-ppo-acktr==0.0.1
absl-py==0.11.0
aiogram==2.18
aiohttp==3.8.1
aiosignal==1.2.0
alabaster==0.7.12
apscheduler==3.6.3
argon2-cffi==20.1.0
astroid==2.4.2
astunparse==1.6.3
async-generator==1.10
async-timeout==4.0.2
atari-py==0.2.9
atariari==0.0.1
atomicwrites==1.4.0
attrs==20.3.0
babel==2.9.1
backcall==0.2.0
backports.zoneinfo==0.2.1
baseline==1.2.1
baselines==0.1.5
beautifulsoup4==4.10.0
bleach==3.2.1
bs4==0.0.1
cachetools==4.2.2
certifi==2021.10.8
cffi==1.14.3
chardet==3.0.4
charset-normalizer==2.0.10
click==7.1.2
cloudpickle==1.2.2
colorama==0.4.3
cpython==0.0.6
cryptography==36.0.1
cycler==0.10.0
cython==0.29.14
decorator==4.4.2
defusedxml==0.6.0
dill==0.3.4
discord.py==1.5.1
discord==1.0.1
dm-tree==0.1.6
docker-pycreds==0.4.0
docopt==0.6.2
docutils==0.17.1
entrypoints==0.3
fasteners==0.17.3
fastprogress==1.0.0
ffmpeg==1.4
filelock==3.0.12
flask==2.0.2
frozenlist==1.3.0
future==0.18.2
gast==0.3.3
gensim==3.8.3
gin-config==0.4.0
gitdb==4.0.9
gitpython==3.1.27
glfw==2.5.3
google-auth-oauthlib==0.4.2
google-auth==1.23.0
google-pasta==0.2.0
grpcio==1.33.2
gym-notices==0.0.6
gym==0.13.1
h5py==2.10.0
huggingface-hub==0.0.17
idna==2.10
imagehash==4.2.1
imageio==2.9.0
imagesize==1.3.0
imbalanced-learn==0.7.0
imblearn==0.0
importlib-metadata==4.11.3
iniconfig==1.1.1
ipdb==0.13.9
ipykernel==5.3.4
ipython-genutils==0.2.0
ipython==7.19.0
ipywidgets==7.5.1
isort==4.3.21
itsdangerous==2.0.1
jedi==0.17.2
jinja2==3.0.2
joblib==0.17.0
jsonschema==3.2.0
jupyter-client==6.1.7
jupyter-console==6.2.0
jupyter-core==4.7.0
jupyter==1.0.0
jupyterlab-pygments==0.1.2
jupyterthemes==0.20.0
keras-preprocessing==1.1.2
keras==2.4.3
kiwisolver==1.3.1
lazy-object-proxy==1.4.3
lesscpy==0.14.0
lockfile==0.12.2
markdown==3.3.3
markupsafe==2.0.1
matplotlib==3.3.4
mccabe==0.6.1
mistune==0.8.4
mlxtend==0.18.0
mpi4py==3.1.3
mpmath==1.2.1
multidict==4.7.6
nbclient==0.5.1
nbconvert==6.0.7
nbformat==5.0.8
nbmerge==0.0.4
nest-asyncio==1.4.3
networkx==2.5
nltk==3.5
notebook==6.1.5
ntlm-auth==1.5.0
numpy==1.18.5
numpydoc==1.3.1
oauthlib==3.1.0
opencv-contrib-python==4.5.1.48
opencv-python==4.5.1.48
opt-einsum==3.3.0
packaging==21.0
paho-mqtt==1.6.1
pandas==1.1.4
pandocfilters==1.4.3
parso==0.7.1
pathtools==0.1.2
patsy==0.5.1
pbr==5.8.1
pickleshare==0.7.5
pillow==7.2.0
pip==22.1
pipreqs==0.4.11
plot-model==0.20
pluggy==1.0.0
ply==3.11
progressbar2==4.0.0
prometheus-client==0.9.0
promise==2.3
prompt-toolkit==3.0.8
protobuf==3.14.0
psutil==5.9.0
py==1.11.0
pyasn1-modules==0.2.8
pyasn1==0.4.8
pyclustering==0.10.1
pycparser==2.20
pydot==1.4.2
pydotplus==2.0.2
pyglet==1.3.2
pygments==2.7.2
pylatexenc==2.10
pylint==2.5.3
pymongo==3.11.2
pyparsing==2.4.7
pyrsistent==0.17.3
pytelegrambotapi==4.4.0
pytest-instafail==0.3.0
pytest==7.1.2
python-certifi-win32==1.6
python-constraint==1.4.0
python-dateutil==2.8.1
python-telegram-bot==13.10
python-utils==3.2.2
pytz-deprecation-shim==0.1.0.post0
pytz==2020.4
pywavelets==1.1.1
pywin32==300
pywinpty==0.5.7
pyyaml==5.4.1
pyzmq==20.0.0
qiskit-aer==0.10.3
qiskit-ibmq-provider==0.18.3
qiskit-ignis==0.7.0
qiskit-terra==0.19.2
qiskit==0.34.2
qtconsole==4.7.7
qtpy==1.9.0
regex==2020.11.13
requests-ntlm==1.1.0
requests-oauthlib==1.3.0
requests==2.25.0
responses==0.14.0
retworkx==0.11.0
rsa==4.6
sacremoses==0.0.45
scikit-image==0.18.1
scikit-learn==0.23.2
scipy==1.5.4
seaborn==0.11.0
selfies==1.0.4
send2trash==1.5.0
sentry-sdk==1.5.12
setproctitle==1.2.3
setuptools-scm==6.4.2
setuptools==62.3.1
shortuuid==1.0.9
siaskynet==2.3.0
six==1.15.0
sklearn==0.0
smart-open==4.2.0
smilespe==0.0.3
smmap==5.0.0
snowballstemmer==2.2.0
soupsieve==2.3
sphinx-rtd-theme==1.0.0
sphinx==4.5.0
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==2.0.0
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.5
squarify==0.4.3
statsmodels==0.12.2
stevedore==3.5.0
sympy==1.9
tensorboard-plugin-wit==1.7.0
tensorboard==2.4.0
tensorflow-estimator==2.3.0
tensorflow-probability==0.12.2
tensorflow==2.3.1
termcolor==1.1.0
terminado==0.9.1
testpath==0.4.4
tfp-nightly==0.13.0.dev20210430
threadpoolctl==2.1.0
tifffile==2021.3.17
tokenizers==0.10.3
toml==0.10.2
tomli==2.0.1
torch==1.9.0+cu111
torchaudio==0.9.0
torchvision==0.10.0+cu111
tornado==6.1
tqdm==4.53.0
traitlets==5.0.5
transformers==4.10.2
tweedledum==1.1.1
typing-extensions==3.7.4.3
tzdata==2021.5
tzlocal==4.1
unidecode==1.2.0
urllib3==1.26.2
wandb==0.12.16
watchdog==2.1.6
wcwidth==0.2.5
webencodings==0.5.1
websocket-client==1.3.1
werkzeug==2.0.2
wheel==0.35.1
widgetsnbextension==3.5.1
wrapt==1.12.1
xlrd==2.0.1
yarg==0.1.9
yarl==1.5.1
zipp==3.8.0
zmq==0.0.0